
/***** FORM CSS *****/ 

.form {
    margin: 3rem 0;
}

.form label {
    font-size: 12px;
}

.form label.required::after {
        content: " *";
}


.form input, .form textarea {
    width: 100%;
    margin: 0;
    font-size: 14px;
    opacity: .3;
    margin: .45rem 0;
}

.form .input-wrapper {
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
}

.form textarea[name="message"] {
    resize: none;
}

.form input[type="submit"] {
   width: auto;
   margin: 0;
   margin-left: auto;
   padding: 8px 16px;
   font-size: 14px;
   opacity: .4;
}

.form input[type="submit"]:hover {
    opacity: 1;
    font-weight: bolder;
}

