{% assign cv = site.data.profile.cv %}
{% assign education = site.data.profile.cv.education %}
{% assign highestEducation = education[0] %}
{% assign socialMedia = site.data.profile.cv.social-media %}
{% assign download = site.data.profile.cv.download %}

    {% if cv %}
        <div class="text-center pt-1 px-1 color-white sidebar-profile">
            <div class="profile-picture" >
            </div>
            <h1 class="profile-name">{{ cv.name }}</h1>
            {% if highestEducation %}
                <p class="my-1">{{ highestEducation.degree }} in {{ highestEducation.subject }}. {{ highestEducation.university }}</p>
            {% endif %}
           <div class="my-2"> 
                <p class="mb-8px ">{{ cv.email }}</p>
                <p>{{ cv.phone-number }}</p>
           </div>
           {% if socialMedia %}
           <div class="icons">
               <ul>
                   {% for item in socialMedia %}
                   <li>    {% if item.value %}
                       <a href={{ item.value }}>
                           <img src="../assets/cv/images/social-media-icons/{{ item.type }}.svg">
                        </a>
                        {% endif %}
                    </li>
                   {% endfor %}
               </ul>
           </div>
           {% endif %}
           {% if download %}
                <a href={{ download }} download="Avan_Sharma_resume">
                    <button class="p-1 my-2 bg-white color-purple">
                        Download Resume
                    </button>
               </a>
           {% endif %}
        </div>

    {% endif %}