.form-wrapper {
    width: 90%;
    max-width: 512px;
    margin: 3rem auto;
    min-height: 60vh;
}


.form-wrapper .heading {
    text-transform: uppercase;
    letter-spacing: 3.8px;
    font-weight: bolder;
    font-size: 1.5rem;
    color:black;
}

.form-wrapper .heading:after {
    content: " ";
    display: block;
    border-top: 6px solid black;
    margin-top: .65rem;
    width: 2rem;
}