.awards-interests {
    margin-bottom: 4rem;
    padding: 0 1rem;
}

section.awards-interests li {
    list-style: none;
    line-height: 1.8em;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

section.awards-interests .container-block {
    margin-bottom: 2rem;
}

@media only screen and (min-width: 600px) {
    section.awards-interests {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
  }