/************ DISPLAYS **************/
.grid {
    display: grid;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

/***********************************/

/******** GRID *******************/
.grid-min-content-1fr {
    grid-template-columns: min-content 1fr;
}

.grid-max-content-1fr {
    grid-template-columns: max-content 1fr;
}

.grid-gar-2 {
    grid-gap: 2rem;
}

/***************************************/

/**** Margins & paddings ****/
.m-1 {
    margin: 1rem;
}
.mr-1 {
    margin-right: 1rem;
}
.ml-1 {
    margin-left: 1rem;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 2rem 0;
}
.my-3 {
    margin: 3rem 0;
}

.my-8px {
    margin: 8px 0;
}

.my-40px {
    margin: 40px 0;
}

.mt-8px {
    margin-top: 8px;
}

.mt-8px {
    margin-top: 8px;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-12px {
    margin-top: 12px;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-12px {
    margin-bottom: 12px;
}

.mb-8px {
    margin-bottom: 8px;
}

.p-2 {
    padding: 2rem;
}

.px-2 {
    padding: 0 2rem;
}

.py-2 {
    padding: 2rem 0;
}

.py-40px {
    padding: 40px 0;
}

.px-1 {
    padding: 0 1rem;
}

.py-1 {
    padding: 1rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2-1 {
    padding: 2rem 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

/****************/


/***** Borders ***********/

.border-top {
    border-top: 1px solid #d8e8e6;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.border-bottom {
    border-top: none;
    border-bottom: 1px solid #d8e8e6;
    border-left: none;
    border-right: none;
}

.border-left {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #d8e8e6;
    border-right: none;

}

.border-right {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 1px solid #d8e8e6;;
}

.border-none {
    border: none;
}


/*************************/


/***  Background-colors ***/
    .bg-black {
        background: #000000;
    }

    .bg-purple {
        background: purple;
    }

    .bg-lightShade {
        background-color: rgba(43, 73,117, 1);
    }

/*************************/

/*** Colors ***/
.color-black {
    color: #000000;
}

.color-white {
    color: #ffffff;
}

.color-purple {
    color: purple;
}

/*************************/


/***** ALIGNMENTS ********/
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
/************************/

/****** POSITION CLASSES ********/

.relative {
    position: relative;
}

/*************************************/

/****** Text-tranform ********/

.capitalize {
    text-transform: capitalize !important;
}

/*************************************/



@media only screen and (min-width: 768px) {
        .only-mobile {
            display: none;
        }
}