nav {
    padding: 1rem 1.5rem;
}
nav .wrap {
    display: none;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 2rem;
    font-size: 1rem;
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    cursor: pointer;
}

nav li a {
    text-decoration: none;
    color: #fff;
}

nav li a:hover {
    color: black
}

@media only screen and (min-width: 768px) {
    nav { padding: 2.5rem;}
    nav .wrap {
        display: block;;
    }
}

