.sidebar-profile {
    width: 260px;
    margin: 0 auto;
}

.sidebar-profile .profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    background:url('../images/profile.jpeg') no-repeat;
    background-size: cover;
    background-position: center center;
}



.sidebar-profile .profile-name {
    font-size: 2rem;
    font-weight: normal;
}

.sidebar-profile p {
    letter-spacing: 0.02rem;
    line-height: 1.6rem;
    font-size: 1rem;
}

.sidebar-profile .icons ul {
    padding-inline-start: 0;
}

.sidebar-profile .icons ul li {
    list-style: none;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.sidebar-profile .icons ul li img {
    fill: #ffffff;
}



.sidebar-profile .icons ul li:not(:last-child) {
    margin-right: .5rem;
}