<form class="kwes-form form" action="https://kwes.io/api/foreign/forms/wDaRDrovdJeWxaXD4CTh">
    <div class="input-wrapper">
        <label class="block required" for="full-name">Full Name</label>
        <input class="border-bottom" id="full-name" type="text" name="full-name" aria-label="full-name" aria-required="true" rules="required|max:30" />
    </div>
    <div class="input-wrapper">
        <label class="block required" for="email">Email</label>
        <input class="border-bottom" id="email" type="email" name="email" label="Email" aria-label="email"  aria-required="true" rules="required|email" />
    </div>
    <div class="input-wrapper">
        <label class="block" for="message">Message</label>
        <textarea class="border-bottom" id="message" name="message" aria-label="message"></textarea>
    </div>
    <input class="block border-none" type="submit" value="Submit">
</form>