<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/assets/cv/css/reset.css" />
      <link rel="stylesheet" href="/assets/cv/css/general.css" />
      <link rel="stylesheet" href="/assets/cv/css/style.css" />
      <link rel="stylesheet" href="/assets/cv/css/layout.css" />
      <link rel="stylesheet" href="/assets/cv/css/cover.css" />
      <link rel="stylesheet" href="/assets/cv/css/profile.css" />
      <link rel="stylesheet" href="/assets/cv/css/sidebar-profile.css" />
      <link rel="stylesheet" href="/assets/cv/css/navigation.css" />
      <link rel="stylesheet" href="/assets/cv/css/awards-interests.css" />
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nanum+Gothic&family=Oxygen:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/assets/cv/scripts/scrollScript.js"></script>
    </head>
  <body>
     {{ content }}
  </body>
</html>